---
layout: base.njk
pageTitle: About
navActive: bio
headGif: biohead.gif
permalink: about.html
contentTxt: about.txt
---

<div class="box">
  <h3>Randall Throckmorton</h3>
{{ content_txt | safe }}
</div>
<p>&nbsp;</p>
