---
layout: base.njk
pageTitle: Audio
navActive: audio
headGif: audiohead.gif
permalink: audio.html
---

<div class="box">
  <h3>Randall Throckmorton (solo)</h3>

  <p><a href="audio/Wing_Machine.mp3" class="note">Wing Machine Waltz</a></p>
  <p><span class="note">[1.77 MB] - Written and performed by Randall Throckmorton</span></p>
  <p><span class="note">copyright 2008</span></p>
  <p>&nbsp;</p>

  <p><a href="audio/Johnny Has Gone for a Soldier.mp3" class="note">Johnny has gone for a Soldier</a></p>
  <p><span class="note">Traditional 18th Century ballad</span></p>
  <p><span class="note">A tribute to 1940's ERA folk-singer Josh White</span></p>
  <p>&nbsp;</p>

  <p><em><strong>Torch Songs</strong></em></p>
  <p><a href="audio/LampisLow.mp3" class="note">The Lamp is Low</a></p>
  <p><span class="note">[4.51 MB] - TSiler/Piano - AMcCormick/Saw</span></p>
  <p><a href="audio/AlwaysChasingRainbows.mp3" class="note">Always Chasing Rainbows</a></p>
  <p><span class="note">[5.48 MB] - Andy McCormick &quot;saw&quot;</span></p>
  <p>&nbsp;</p>

  <p><em><strong>Other Originals</strong></em></p>
  <p>&nbsp;</p>
  <p><a href="audio/HoneysuckleVine.mp3" class="note">Honeysuckle Vine</a></p>
  <p><span class="note">[4.24 MB]</span></p>
  <p><a href="audio/FatRabbitsHuntdown.mp3" class="note">Fat Rabbit's Huntdown</a></p>
  <p><span class="note">[5.17 MB]</span></p>
  <p><a href="audio/Reprise.mp3" class="note">Reprise</a></p>
  <p><span class="note">[3.15 MB]</span></p>
  <p><a href="audio/DustyBible.mp3" class="note">Throckmorton's Fury</a></p>
  <p><span class="note">[3.79 MB]</span></p>
  <p>&nbsp;</p>
  <p><span class="note">Written and performed by Randall Throckmorton (except where noted) <strong>copyright</strong> 2003</span></p>
  <p>&nbsp;</p>
</div>

<div class="box">
  <h3>Dreamland Faces Collaboration</h3>
  <p><a href="http://www.dreamlandfaces.com/"><span class="note">www.dreamlandfaces.com</span></a></p>
  <p>&nbsp;</p>
  <p>Listen to: <a href="audio/Everything_I_Have_is_Yours.mp3" class="note">Everything I Have is Yours</a></p>
  <p><span class="note">From</span></p>
  <p><span class="note"><a href="http://www.dreamlandfaces.com/">Dreamland Faces PARTY BAND</a> cd which I SING and perform on</span></p>
  <p><img src="images/BunFun.gif" width="300" height="152" alt="Dreamland Faces Bunnies Fighting Album"></p>
  <p>&nbsp;</p>
  <p><span class="note">Trombone: Steve Sandberg</span></p>
  <p><span class="note">Bass Accordion/Musical Saw: Andy McCormick</span></p>
  <p><span class="note">Soprano Saxophone: Kristen Froebal</span></p>
  <p><span class="note">Accordion: Karen Majewicz</span></p>
  <p><span class="note">Vocal: Randall Throckmorton</span></p>
</div>

<div class="box">
  <h3>Larmes De Colere <span class="note">(tears of rage)</span></h3>
  <p><a href="audio/To the Little Radio.mp3">The Little Radio</a></p>
  <p><span class="note">[3.98 MB] - 2006</span></p>
  <p><span class="note">Sample of the group doing the music of Hans Eisler</span></p>
  <p>&nbsp;</p>
  <p><span class="note">Piano: Tom Siler</span></p>
  <p><span class="note">Accordion: Karen Majowicz</span></p>
  <p><span class="note">Vocals: Randall Throckmorton</span></p>
  <p><span class="note">Musical Saw: Andy McCormick</span></p>
  <p><span class="note"><a href="audio/FemmeDeSorciere.mp3">Femme De Sorciere</a></span></p>
  <p><span class="note">from &quot;the Tunnel&quot;</span></p>
</div>

<div class="box">
  <h3>Deadly Nightshade Family Singers</h3>
  <p>Here are my originals songs from the 2001 released DNFS Album</p>
  <h3>Plain Brown Suit</h3>
  <p>for other Nightshades</p>
  <p><img src="images/PBS.jpg" width="50" height="50" alt="Plain Brown Suit album cover"></p>
  <p>&nbsp;</p>
  <p><a href="audio/HammeroftheGods.mp3">Hammer of the Gods</a></p>
  <p><span class="note">[3.71 MB]</span></p>
  <p><a href="audio/Schwondle.mp3">Schwondle</a></p>
  <p><span class="note">[4.85 MB]</span></p>
  <p><a href="audio/GodGetsLazy.mp3">God gets Lazy</a></p>
  <p><span class="note">[5.67 MB]</span></p>
</div>
<p>&nbsp;</p>
<div class="box">
  <h3>Fall 2010 Recordings of Hanns Eisler music</h3>
  <p><a href="audio/The Way the Wind Blows.mp3">&quot;The Way the Wind Blows&quot;</a></p>
  <p>&quot;<a href="audio/Epitaph_for_One_Who_Died_in_Flanders.mp3">Epitaph</a>&quot;</p>
  <p><a href="audio/Und_Endlich.mp3">&quot;Und Endlich&quot;</a></p>
  <p>&nbsp;</p>
  <p><span class="note">lyrics: Bertolt Brecht</span></p>
  <p><span class="note">Tom Siler played piano on &quot;Und Endlich&quot; and &quot;The Way the Wind Blows&quot;</span></p>
  <p><span class="note">other instruments and arrangements r.throckmorton</span></p>
</div>

<p>&nbsp;</p>