---
layout: base.njk
pageTitle: Links
navActive: history
headText: Links
permalink: link.html
---

<p>&nbsp;</p>
<p>I also exist in these other spaces</p>
<p>&nbsp;</p>

<div class="box">
  <p class="spacer">&nbsp;</p>
  <div class="social-links">
    <a class="social-link" href="https://www.youtube.com/@randallthrockmorton"><span class="social-icon">&#9658;</span>YouTube</a>
    <a class="social-link" href="https://www.facebook.com/RandallThomson"><span class="social-icon">f</span>Facebook</a>
    <a class="social-link" href="https://open.spotify.com/artist/0GPEJWNBUtfnkFdpk4EZCO"><span class="social-icon">&#9834;</span>Spotify</a>
  </div>
  <p class="spacer">&nbsp;</p>
</div>
<p class="spacer">&nbsp;</p>
<p><a href="audio/See_The_Monkey.mp3"><img src="images/Monkey.jpg" width="300" height="306" alt="See the Monkey"></a></p>
<p>Click Picture for Song</p>
