---
layout: base.njk
pageTitle: Movies
navActive: movies
headGif: movieshead.gif
permalink: movies.html
---

<p>&nbsp;</p>
<div class="video-wrap">
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/videoseries?list=PLmzAJ5Hy9xdQ1R7fWL4lhk8M-K9McCouc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
<p>&nbsp;</p>
<div class="video-wrap">
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/videoseries?list=PL97FC230BEEE6FDA8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
<p>&nbsp;</p>
<div class="video-wrap">
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/videoseries?list=PLmzAJ5Hy9xdRt2prsn5lrAsOg2xDcJq4N"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
<p>&nbsp;</p>
<p>More videos and credits at <a href="https://youtube.com/@randallthrockmorton">Randall's YouTube Channel</a></p>
<p>&nbsp;</p>
