---
layout: base.njk
pageTitle: Photo Gallery
navActive: photos
headGif: photohead.gif
permalink: photos.html
---

<p>&nbsp;</p>
<img src="images/BackstageAmsterdam.jpg" alt="Backstage in Amsterdam">
<h4><span class="note">Backstage in Amsterdam</span></h4>

<img src="images/RandallAndButtercup.jpg" alt="Randall and Buttercup">
<h4><span class="note">Randall and Buttercup</span></h4>

<img src="images/RandallThrockmorton2.jpg" alt="Randall Throckmorton">
<h4><span class="note">Randall Throckmorton</span></h4>

<img src="images/VDay2016.jpg" alt="V-Day 2016">
<h4><span class="note">V-Day 2016</span></h4>

<img src="images/RandallThrockmorton.jpg" alt="Randall Throckmorton">
<h4><span class="note">Randall Throckmorton</span></h4>

<img src="images/SuitGlow2016.jpg" alt="Suit Glow 2016">
<h4><span class="note">Suit Glow (2016)</span></h4>

<img src="images/Candid2016.jpg" alt="Randall Throckmorton">

<img src="images/RandallFrog.jpg" alt="Randall Frog">
<h4><span class="note">Randall Frog</span></h4>

<img src="images/LCR2.jpg" alt="LCR">
<h4><span class="note">LCR</span></h4>

<img src="images/SmokeRingsLCR.jpg" alt="Smoke Rings (LCR)">
<h4><span class="note">Smoke Rings (LCR)</span></h4>

<img src="images/LCRHalloween.jpg" alt="LCR Halloween">
<h4><span class="note">LCR Halloween</span></h4>

<img src="images/BLB20080828.jpg" alt="BLB 8/28/2008">
<h4><span class="note">BLB (8/28/2008)</span></h4>

<img src="images/Palmfest2008.jpg" alt="Palmfest 2008">
<h4><span class="note">Palmfest 2008</span></h4>

<img src="images/Dreamland81.jpg" alt="Dreamland Faces">
<h4><span class="note">Dreamland Faces</span></h4>

<img src="images/Dreamland60.jpg" alt="Dreamland Faces">
<h4><span class="note">Dreamland Faces</span></h4>
<p>&nbsp;</p>

<h4><img src="images/Bass.jpg" width="417" height="296" alt="w/ daughter Ella playing new bass"></h4>
<h4><span class="note">w/ daughter Ella playing new bass</span></h4>

<h4><img src="images/BLBJonBehm.jpg" alt="w/ Kristen Froebal BLB 2/8/2008"></h4>
<h4><span class="note">w/ Kristen Froebal BLB 2/8/2008 Photo: Jon Behm</span></h4>

<img src="images/headshotlowres.jpg" alt="Headshot 2006">
<h4><span class="note">My Head (2006)</span></h4>
<h4><span class="note">photo: Shelley Rohlf &mdash; <a href="images/headshotmediumres.jpg">higher resolution image</a></span></h4>
<h4>&nbsp;</h4>

<img src="images/headshot.jpg" alt="Headshot">
<h4><span class="note">photo: Jonathon Hubschman</span></h4>

<img src="images/Firstavenue.jpg" alt="Performing at First Avenue">
<h4><span class="note">Performing with <a href="http://lecirquerouge.com/">Cirque Rouge de Gus</a> at First Avenue</span></h4>
<h4><span class="note">photo: Paul V. Virtucio</span></h4>

<img src="images/BastilleDay2005.jpg" alt="Bastille Day 2005">
<h4><span class="note">Laremes de Colere Bastille Day Performance (UPTOWN MPLS. 2005)</span></h4>

<img src="images/inCirqueRouge.jpg" alt="Lost in the stars">
<h4><span class="note">&quot;lost in the stars&quot;</span></h4>

<img src="images/InStudioM.jpg" alt="Deep into a track">
<h4><span class="note">&quot;deep into a track&quot;</span></h4>

<img src="images/LarmesDeColere1.jpg" width="400" alt="Larmes De Colere">
<h4><span class="note">with Larmes De Colere (tears of rage) - photo: Ellen Thomson</span></h4>

<img src="images/LarmesDeColere2.jpg" alt="Larmes De Colere">
<h4><span class="note">with Larmes De Colere (tears of rage) - photo: Ellen Thomson</span></h4>

<img src="images/cone.jpg" width="359" alt="Photo by Paul V. Virtucio">
<h4><span class="note">photo: Paul V. Virtucio</span></h4>

<img src="images/dnfs.jpg" width="419" alt="With The Deadly Nightshade Family Singers">
<h4><span class="note">With The Deadly Nightshade Family Singers - photo: L.Cazan</span></h4>

<img src="images/OutsideTurfclub.jpg" alt="Outside the Clown Lounge">
<h4><span class="note">outside the Clown Lounge - photo: Tony Lane</span></h4>

<img src="images/wTulipSweet.jpg" alt="With Tulip Sweet">
<h4><span class="note">"Cry... but it's not going to change anything." w/Tulip Sweet</span></h4>

<img src="images/Hillwilliams.jpg" width="364" alt="With the Hillwilliams 1989">
<h4><span class="note">With the Hillwillams in 1989 'Dude on the Right'</span></h4>
<p>&nbsp;</p>
