---
layout: base.njk
pageTitle: Photo Gallery
navActive: photos
headGif: photohead.gif
permalink: photos.html
---

<p>&nbsp;</p>
<img src="images/photos/Lambchop Crooners 06302026 - photo Daniel Scully.jpg" alt="With Lambchop at Crooners">
<h4><span class="note">With Lambchop at Crooners - photo: Daniel Scully</span></h4>

<img src="images/photos/Outside 331 Club 2024.jpg" alt="Outside the 331 Club">
<h4><span class="note">Outside the 331 Club (2024)</span></h4>

<img src="images/photos/Selby Avenue Syncopators Gig.jpg" alt="Selby Avenue Syncopators gig">
<h4><span class="note">Selby Avenue Syncopators Gig</span></h4>

<img src="images/photos/Dreamland Faces Stockholm.jpg" alt="Dreamland Faces in Stockholm">
<h4><span class="note">Dreamland Faces (Stockholm)</span></h4>

<img src="images/photos/BackstageAmsterdam.jpg" alt="Backstage in Amsterdam">
<h4><span class="note">Backstage in Amsterdam</span></h4>

<img src="images/photos/RandallAndButtercup.jpg" alt="Randall and Buttercup">
<h4><span class="note">Randall and Buttercup</span></h4>

<img src="images/photos/RandallThrockmorton2.jpg" alt="Randall Throckmorton">
<h4><span class="note">Randall Throckmorton</span></h4>

<img src="images/photos/VDay2016.jpg" alt="V-Day 2016">
<h4><span class="note">V-Day 2016</span></h4>

<img src="images/photos/RandallThrockmorton.jpg" alt="Randall Throckmorton">
<h4><span class="note">Randall Throckmorton</span></h4>

<img src="images/photos/SuitGlow2016.jpg" alt="Suit Glow 2016">
<h4><span class="note">Suit Glow (2016)</span></h4>

<img src="images/photos/Candid2016.jpg" alt="Randall Throckmorton">

<img src="images/photos/RandallFrog.jpg" alt="Randall Frog">
<h4><span class="note">Randall Frog</span></h4>

<img src="images/photos/LCR2.jpg" alt="LCR">
<h4><span class="note">LCR</span></h4>

<img src="images/photos/SmokeRingsLCR.jpg" alt="Smoke Rings (LCR)">
<h4><span class="note">Smoke Rings (LCR)</span></h4>

<img src="images/photos/LCRHalloween.jpg" alt="LCR Halloween">
<h4><span class="note">LCR Halloween</span></h4>

<img src="images/photos/BLB20080828.jpg" alt="BLB 8/28/2008">
<h4><span class="note">BLB (8/28/2008)</span></h4>

<img src="images/photos/Palmfest2008.jpg" alt="Palmfest 2008">
<h4><span class="note">Palmfest 2008</span></h4>

<img src="images/photos/Dreamland81.jpg" alt="Dreamland Faces">
<h4><span class="note">Dreamland Faces</span></h4>

<img src="images/photos/Dreamland60.jpg" alt="Dreamland Faces">
<h4><span class="note">Dreamland Faces</span></h4>
<p>&nbsp;</p>

<h4><img src="images/photos/Bass.jpg" width="417" height="296" alt="w/ daughter Ella playing new bass"></h4>
<h4><span class="note">w/ daughter Ella playing new bass</span></h4>

<h4><img src="images/photos/BLBJonBehm.jpg" alt="w/ Kristen Froebal BLB 2/8/2008"></h4>
<h4><span class="note">w/ Kristen Froebal BLB 2/8/2008 Photo: Jon Behm</span></h4>

<img src="images/photos/headshotmediumres.jpg" alt="Headshot 2006">
<h4><span class="note">My Head (2006)</span></h4>
<h4><span class="note">photo: Shelley Rohlf</span></h4>
<h4>&nbsp;</h4>

<img src="images/photos/headshot.jpg" alt="Headshot">
<h4><span class="note">photo: Jonathon Hubschman</span></h4>

<img src="images/photos/Firstavenue.jpg" alt="Performing at First Avenue">
<h4><span class="note">Performing with <a href="http://lecirquerouge.com/">Cirque Rouge de Gus</a> at First Avenue</span></h4>
<h4><span class="note">photo: Paul V. Virtucio</span></h4>

<img src="images/photos/BastilleDay2005.jpg" alt="Bastille Day 2005">
<h4><span class="note">Laremes de Colere Bastille Day Performance (UPTOWN MPLS. 2005)</span></h4>

<img src="images/photos/inCirqueRouge.jpg" alt="Lost in the stars">
<h4><span class="note">&quot;lost in the stars&quot;</span></h4>

<img src="images/photos/InStudioM.jpg" alt="Deep into a track">
<h4><span class="note">&quot;deep into a track&quot;</span></h4>

<img src="images/photos/LarmesDeColere1.jpg" width="400" alt="Larmes De Colere">
<h4><span class="note">with Larmes De Colere (tears of rage) - photo: Ellen Thomson</span></h4>

<img src="images/photos/LarmesDeColere2.jpg" alt="Larmes De Colere">
<h4><span class="note">with Larmes De Colere (tears of rage) - photo: Ellen Thomson</span></h4>

<img src="images/photos/cone.jpg" width="359" alt="Photo by Paul V. Virtucio">
<h4><span class="note">photo: Paul V. Virtucio</span></h4>

<img src="images/photos/dnfs.jpg" width="419" alt="With The Deadly Nightshade Family Singers">
<h4><span class="note">With The Deadly Nightshade Family Singers - photo: L.Cazan</span></h4>

<img src="images/photos/OutsideTurfclub.jpg" alt="Outside the Clown Lounge">
<h4><span class="note">outside the Clown Lounge - photo: Tony Lane</span></h4>

<img src="images/photos/wTulipSweet.jpg" alt="With Tulip Sweet">
<h4><span class="note">"Cry... but it's not going to change anything." w/Tulip Sweet</span></h4>

<img src="images/photos/Hillwilliams.jpg" width="364" alt="With the Hillwilliams 1989">
<h4><span class="note">With the Hillwillams in 1989 'Dude on the Right'</span></h4>
<p>&nbsp;</p>
