---
layout: base.njk
pageTitle: Throckmorton Trio
navActive: groups
headGif: groupshead.gif
permalink: throckmorton-trio.html
contentTxt: trio.txt
---

<div class="box">
{{ content_txt | safe }}
</div>
<p>&nbsp;</p>
